/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** End Meyer Reset ******/

/***** Starter Styles ******/

* {
    box-sizing: border-box;
    max-width: 100%;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Julius Sans One', sans-serif;
    line-height: 1.5;
    background: whitesmoke;
}

h1{
    font-family: 'Zen Dots', cursive;
    font-size: 5rem;
    color: #3CB371;
}

h2 {
    font-family: 'Zen Dots', cursive;
    font-size: 2rem;
}

section{
    padding: 4% 0;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/****** HEADER STYLES ******/

header {
    background-color: #708090;
    padding: 2%;
}

.headerdiv {
    display: flex;
    flex-direction: column;
}

.headerdiv nav {
    margin-left: 15%;
}

.headerdiv h1 {
    margin-left: 5%;
}

nav a {
    width: 10%;
    padding: 1%;
    background-color: #3CB371;
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    font-size: 1.8rem;
    transition: background-color 1s ease;
}

nav a:hover {
    background-color: whitesmoke;
    color: #3CB371;

}

/***** CONTACT PAGE HERO IMAGE STYLES *****/

.hero-image {
    width: 100%;
    height: 75vh;
    background-image: url("https://picsum.photos/1200/800");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-link {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
}

.email-link h3 {
    font-size: 3rem;
    font-weight: bold;
    padding: 2%;
    text-align: center;
    margin-bottom: 2%;
}

.email-link a {
    color: whitesmoke;
    background-color: #3CB371;
    padding: 3% 6%;
    width: 30%;
    border-radius: 5px;
    text-align: center;
}

.email-link a:hover {
    color: #3CB371;
    background-color: whitesmoke;
    transition: background-color 1s ease;
}






/***** FOOTER STYLES ******/

footer {
    display: flex;
    justify-content: space-around;
    background-color: #708090;
}

footer div {
    padding: 3%;
}

.contact, .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.contact a, .social a {
    color: whitesmoke;
    background-color: #3CB371;
    padding: 4%;
    border-radius: 5px;
}

.contact a:hover, .social a:hover {
    color: #3CB371;
    background-color: whitesmoke;
    transition: background-color 1s ease;
}

footer .contact h3 {
    font-size: 2rem;
    color: whitesmoke;
    padding: 2%;
}

/***** 800px STYLES *****/

@media (max-width:800px){

    footer {
        flex-direction: column;
        align-items: center;
        padding: 4% 0;
    }

    .contact {
        width: 80%;
    }

    footer .contact h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    .social {
        display: none;
    }
}

@media(max-width:500px) {

    .headerdiv {
        align-items: center;
    } 

    .headerdiv nav, .headerdiv h1 {
        margin: 1% 0;
    }

    h1 {
        font-size: 4rem;
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    nav a {
        width: 100%;
        margin: 1% 0;
    }

    h3 {
        font-size: 4rem;
    }

    .email-link a {

    }
}